Package: com.eevee.spotify
Name: EeveeSpotify
Version: 6.6.9
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: Nodzen <161954767+nodzen@users.noreply.github.com>
Author: Eevee
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
